<div class="container w-50">
  <div class="container p-5 mb-5" style="background-color: white; border-radius: 2rem; box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%)">
    <div class="row">
      <% if !@user.avatar.blank? %>
        <%= image_tag @user.avatar unless @user.avatar.blank? %>
      <% else %>
        <img style="width: 100%" src="https://nld.mediacdn.vn/thumb_w/684/2019/4/3/avengers-endgame-poster-og-social-crop-15542720808371479664269.jpg" alt="">
      <% end %>
    </div>
    <div class="row mt-3">
      <div class="col-md-10">
        <h2 style="font-weight: bold;"><%= format_name(@user) %></h2>
      </div>
      <% if current_user.id != @user.id %>
      <div class="col-md-2">
        <button class="btn btn-primary btn-follow" user_id="<%= @user.id %>" followed="<%= @followed %>" follower="<%= current_user.id %>" id="btn-follow" type='button'>
        <% if @followed == 0 %>
          Follow
        <% else %>
          unfollow
        <% end %>
        </button>
      </div>
      <% end %>
    </div>
    <div class="row mt-1">
      <div><a id="fl-count"><%= @followes.to_s + ' ' %> </a><span>follower</span></div>
    </div>
  </div>
  <% if current_user.id == @user.id %>
  <div class="row mt-5">
    <form action="/posts" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
      <input type="hidden" name="authenticity_token" value="...">
      <input type="text" name="post[user_id]" value="<%= current_user.id unless current_user.blank? %>>" hidden="hidden">
      <div class="form-outline mb-4">
        <textarea class="form-control" id="form4Example3" name="post[content]" placeholder="Content" rows="4"></textarea>
      </div>
      <div class="form-outline mb-4">
        <div class="row">
          <div class="col-md-3">
            <label for="upload-photo" class="btn btn-success" id="label">Choose image...</label>
            <input type="file" id="upload-photo" name="image">
          </div>
          <div class="col-md-4">
            <button type="submit" name="commit" class="btn btn-success">Post</button>
          </div>
        </div>
      </div>

      <style>
          label {
              cursor: pointer;
          }

          #upload-photo {
              opacity: 0;
              position: absolute;
              z-index: -1;
          }
      </style>
    </form>
  </div>
  <% end %>
  <div class="row mt-5"></div>
  <div class="container">
    <div class="row w-70">
      <% @posts.each do |post| %>
        <div class="container p-5 mb-5" id="post-<%= post.id %>" style="background-color: white; border-radius: 2rem; box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%)">
          <div class="row">
            <div class="col-md-10 mb-2">
              <div class="row">
                <div class="col-md-10">
                  <h3 style="font-weight: bold;"><%= post.user.username unless post.user.username.blank? %></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <%= post.created_at.strftime('%d - Tháng %m, %Y lúc %I : %M') %>
                </div>
              </div>
            </div>
            <% if current_user.id == @user.id %>
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="dropdown">
                    <a class="btn-dropdown btn btn-secondary dropdown-toggle" data-id="<%= post.id %>" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      action
                    </a>
                    <ul class="dropdown-menu" id="dropdown-<%= post.id %>" aria-labelledby="dropdownMenuLink">
                      <li>
                        <a class="nav-link btn-delete" data-id="<%= post.id %>" aria-disabled="true" tabindex="-1">Delete</a>
                      </li >
                      <li>
                        <a class="nav-link btn-edit" data-id="<%= post.id %>" aria-disabled="true" tabindex="-1">Edit</a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
              <% end %>
          </div>
          <div class="row mb-5">
            <%= form_for post do |f| %>
<!--            <form action="<%#= post_update_path(post.id) %>" accept-charset="UTF-8" method="post" enctype="multipart/form-data">-->
<!--              <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->
              <%# f.hidden_field :user_id, value: post.user_id %>
<!--              <input type="text" name="post[user_id]" value="<%#= post.user_id %>" hidden="hidden">-->
              <div id="content-input-<%= post.id %>">
                <a id="content-<%= post.id %>">
                  <%= post.content %>
                </a>
              </div>
              <div class="form-outline mb-4 mt-4" id="update-image-<%= post.id %>" style="display: none">
<!--                <input type="file" name="image">-->
                <%= f.label :image, "Choose Image..." %>
                <%= f.file_field :image, class: "upload-photo" %>
<!--                <label for="upload-photo" id="label">Choose image...</label>-->
<!--                <input type="file" id="upload-photo" name="image">-->
                <style>
                    label {
                        cursor: pointer;
                    }

                    .upload-photo {
                        opacity: 0;
                        position: absolute;
                        z-index: -1;
                    }
                </style>
              </div>
              <button class="btn btn-primary" type="submit" id="update-post-<%= post.id %>" style="display: none" name="commit">update</button>
            </form>
              <% end %>
          </div>
          <div class="row">
            <%= image_tag post.image unless post.image.blank? %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
      let flag = false

      let followed = `<%= @followed %>`
      let fl_count = $("#fl-count").html()
      fl_count = Number(fl_count)
      if (followed == 1) {
          flag = true
      }
      $('#btn-follow').on('click', function () {
          flag = !flag
          if (flag == true) {
              fl_count = fl_count + 1
              $("#btn-follow").html('unfollow')
              $("#fl-count").html(fl_count + ' ')
          } else {
              fl_count = fl_count - 1
              $("#btn-follow").html('follow')
              $("#fl-count").html(fl_count + ' ')
          }
          let user_id = $(this).attr('user_id')
          let follower = $(this).attr('follower')
          let url = location.origin + `<%= follow_path %>`
          $.ajax({
              type: "POST",
              dataType: "JSON",
              url: url,
              data: {
                  user_id: user_id,
                  follower: follower,
                  authenticity_token: `<%= form_authenticity_token %>`
              },
              headers: {
                  'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
              },
              success: function (e) {
                  console.log(e);
              },
              error: function (e) {
                  console.log(e)
              }
          })
      })

      $(".btn-delete").on('click', function () {
          let id = $(this).attr('data-id')
          let url = `<%= post_delete_path(':id') %>`
          url = url.replace(':id', id)
          $.ajax({
              type: "DELETE",
              dataType: "JSON",
              url: url,
              headers: {
                  'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
              },
              success: function (e) {
                  $("#post-" + id).remove()
                  console.log(e)
              },
              error: function (e) {
                  console.log(e);
              }
          })
      })

      $(".btn-dropdown").on('click', function () {
          flag = !flag
          let id = $(this).attr('data-id')
          if (flag == true) {
              $("#dropdown-" + id).css('display', "block")
          } else {
              $("#dropdown-" + id).css('display', "none")
          }
      })

      $(".btn-edit").on('click', function () {
          let id = $(this).attr('data-id')
          let content = document.getElementById('content-' + id).innerHTML
          $("#update-post-" + id).css('display', 'block')
          $("#update-image-" + id).css('display', 'block')
          document.getElementById('content-input-' + id).innerHTML = '<div class="form-outline mb-4"> <textarea class="form-control" id="form4Example3" name="post[content]" placeholder="Content" rows="4">'+ content +'</textarea> </div>'
      })
  })
</script>