<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h2>Edit spending plan</h2></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-1">Month: </div>
    <div class="col-md-5">
      <input type="text" value="<%= @plan_issue.spending_plan.month %>" disabled class="form-control">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-1">Year: </div>
    <div class="col-md-5">
      <input type="text" value="<%= @plan_issue.spending_plan.year %>" disabled class="form-control">
    </div>
  </div>
  <%= form_for :plan_issue do |form| %>
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-1">Issue: </div>
      <div class="col-md-5">
        <%= form.text_field :issue, class: "form-control" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-1">Issue: </div>
      <div class="col-md-5">
        <%= form.number_field :expense, class: "form-control", min: 0 %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <%= form.submit "Update", class: "btn btn-primary w-100" %>
      </div>
      <div class="col-md-6"></div>
    </div>
  <% end %>
</div>