<div class="container w-50">
  <h3>Spending plan</h3>
    <%= form_for @spending_plan, remote: true do |form| %>
        <div class="row mb-5">
          <input type="hidden" name="item[user_id]" id="user_id" value="<%= current_user.id %>">
          <div class="col-md-4">
            <label for="month">month: </label>
            <select name="item[month]" class="form-control" id="month">
              <option value="<%= Date.current.month %>" selected="selected"><%= Date.current.month %></option>
              <% for i in 1..12 %>
                <option value="<%= i %>"><%= i %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-4">
            <label for="year">year: </label>
            <select name="item[year]" id="year" class="form-control">
              <option value="<%= Date.current.year %>" selected="selected"><%= Date.current.year %></option>
              <% for i in Date.current.year..(Date.current.year + 10) %>
                <option value="<%= i %>"><%= i %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-4">
            <label for="max">max: </label>
            <input type="number" id="max" name="item[max]" class="form-control" min="0">
          </div>
        </div>
    <div class="row mb-5">
      <div class="col-md-6">
        <label for="fee_name">Name</label>
        <input type="text" class="form-control" name="fee[issue]" id="fee_name">
      </div>
      <div class="col-md-6">
        <label for="fee">fee</label>
        <input type="number" class="form-control" name="fee[expense]" id="expense">
      </div>
    </div>
    <% end %>
  <div class="row ">
    <button class="btn btn-primary btn-submit">Submit</button>
  </div>
</div>
<script type="text/javascript" charset="utf-8">

  $(document).ready(function () {
      var reload = false
      $(".btn-submit").on('click', function () {
          let user_id = $("#user_id").val()
          let month = $("#month").val()
          let year = $("#year").val()
          let max = $("#max").val()
          let issue = $("#fee_name").val()
          let expense = $("#expense").val()
          let url = location.origin + `<%= spending_plan_post_path %>`
          $.ajax({
              type: "POST",
              dataType: "JSON",
              url: url,
              data: {
                  item: {
                      user_id: user_id,
                      month: month,
                      year: year,
                      max: max
                  },
                  fee: {
                      issue: issue,
                      expense: expense
                  },
                  authenticity_token: `<%= form_authenticity_token %>`
              },
              headers: {
                  'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
              },
              success: function (e) {
                  if (max) {
                      if (e.status != 2) {
                          alert("Spending limit has been setup, new value will not update")
                      }
                      alertConfirm(e.status)
                  } else {
                      alertConfirm(e.status)
                  }
                  if (reload == true) {
                      location.reload()
                  }
              },
              error: function (e) {
                  console.log(e)
              }
          })
      })

      function alertConfirm(status) {
          if (status == 0) {
              reload = false
              alert("Please change your max value for spending plan")
          } else {
              reload = true
              alert("Add spending plan successfully")
          }
      }
  })
</script>