<div class="container">
  <ul class="list-group text-center">
    <% @followes.each do |f| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-10">
            <%= link_to f.user_username(f.follower), profile_path(f.follower) %>
          </div>
          <div class="col-md-2">
            <% unless is_followed?(user(f.follower)) %>
              <% if user(f.follower) %>
                <button class="btn btn-primary btn-follow" id="btn-follow-<%=  f.follower  %>" user_id="<%=  f.follower  %>" follower="<%=  current_user.id  %>">follow</button>
              <% end %>
            <%  end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
      $(".btn-follow").on('click', function () {
          let user_id = $(this).attr('user_id')
          let follower = $(this).attr('follower')
          let url = location.origin + `<%= follow_path %>`
          $.ajax({
              type: "POST",
              dataType: "JSON",
              url: url,
              data: {
                  user_id: user_id,
                  follower: follower,
                  authenticity_token: `<%= form_authenticity_token %>`
              },
              headers: {
                  'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
              },
              success: function (e) {
                  console.log(e);
                  $("#btn-follow-" + user_id).remove()
              },
              error: function (e) {
                  console.log(e)
              }
          })
      })
  })
</script>