<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%; margin-top: -1% !important;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: "nav-link", "aria-disabled" => "true", tabindex: "-1"  %>
          </li>
          <li class="nav-item">
            <%= link_to 'All users', users_path, class: "nav-link", "aria-disabled" => "true", tabindex: "-1"  %>
          </li>
        </ul>
        <form class="d-flex">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-8">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-2">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
              </div>
            </div>
            <% if current_user %>
              <div class="col-md-5">
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Auth
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><%= link_to format_name(current_user), profile_path(current_user.id), class: "nav-link", "aria-disabled" => "true", tabindex: "-1"  %></li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, class: "nav-link", "aria-disabled" => "true", tabindex: "-1"  %></li>
                    <li><%= link_to 'followes_by', followes_path, class: "nav-link", "aria-disabled" => "true", tabindex: "-1"  %></li>
                    <li><%= link_to 'followes_to', follow_to_path, class: "nav-link", "aria-disabled" => "true", tabindex: "-1"  %></li>
                    <li>
                      <%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete}, class: "nav-link", "aria-disabled" => "true", tabindex: "-1" %>
                    </li>
                  </ul>
                </div>
              </div>
              <script type="text/javascript" charset="utf-8">
                  $(function () {
                      let flag = false
                      $('#dropdownMenuLink').on('click', function () {
                          flag = !flag
                          if (flag === true) {
                              $('.dropdown-menu').css('display', 'block')
                          } else {
                              $('.dropdown-menu').css('display', 'none')
                          }
                      })
                  })
              </script>
              <% end %>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <%= yield %>
  </body>
</html>
